
package-lock.json
node_modules/
dist/
build/

backend/venv
backend/logs
backend/sql_app/__pycache__
backend/sql_app/routers/__pycache__
backend/gunicorn_config/__pycache__
backend/dev.db
backend/.env

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

### Linux ###
#.*
!.gitignore
*~


