###### Requirements without Version Specifiers ######
fastapi
sqlalchemy
uvicorn
gunicorn
setproctitle
python-multipart
python-jose[cryptography]
passlib[bcrypt]
pydantic-settings
###### Requirements with Version Specifiers ######

